*{
    margin: 0;padding: 0;
}
:root
{

    --redbor:2px solid red;
    --blackbor:2px solid black;
    --purplebor:2px solid rebeccapurple;
    --greenbor:2px solid rgb(0, 255, 34);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
    
}
.navLinks{
   color: #292828;
    
}
.navLinks:hover{
    color: #8e8a8a;
}
.logo{
    
  
    flex-grow: 2;
     text-align: center;
 
    
}
.logo img{
    height: 65px;
}
.mainLinks{
    display: flex;
    flex-grow: 1;
    gap: 12px;
    flex-wrap: wrap;
}

.con1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9em;
    gap: 22px 0px;
text-align: center;
margin-top: 82px;
    
}
.con1 div img  {
    /* height: 55px; */
    /* width: 55px; */
     
}
.con1 div ,button {
}
#p1{

    display: flex;
    gap: 45px;
}
#p1:first-child {
    font-size: 1.6em;
    font-family: system-ui;
}
#p1>:first-child > span {
    font-weight: bold;
}
#p2{
    max-width: 65%;
    font-size: 0.8em;
}

.con1 button{
    padding: 15px;
font-weight: bold;
color: white;
background-color: #00b6d1;
}



.con2{
    border: var(--blackbor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 55vw;
    position: relative;
    left: 15.1vw;
    word-wrap:break-word;
    flex-wrap: wrap;
}

.con2 > img{
    border: var(--greenbor);
    width: 70px;
    height: 70px;
}
 

.con2> #s1{
    border: var(--redbor);
    font-size: 1.85rem;
}

.con2 > #s2{
    /* border: blue; */
     
}