*{
    margin: 0;padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
 
:root
{

    --redbor:2px solid red;
    --blackbor:2px solid black;
    --purplebor:2px solid rebeccapurple;
    --greenbor:2px solid rgb(0, 255, 34);
    --whitebor:2px solid rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
    
}
.navLinks{
   color: #292828;
    
}
.navLinks:hover{
    color: #8e8a8a;
}
.logo{
    
  
    flex-grow: 2;
     text-align: center;
 
    
}
.logo img{
    height: 65px;
}
.mainLinks{
    display: flex;
    flex-grow: 1;
    gap: 12px;
    flex-wrap: wrap;
}

.con1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9em;
    gap: 22px 0px;
text-align: center;
margin-top: 122px;
    
}
.con1 div img  {
    /* height: 55px; */
    /* width: 55px; */
     
}
.con1 div ,button {
}
#p1{

    display: flex;
    gap: 45px;
}
#p1:first-child {
    font-size: 1.6em;
    font-family: system-ui;
}
#p1>:first-child > span {
    font-weight: bold;
}
#p2{
    max-width: 65%;
    font-size: 0.8em;
}

.con1 button{
    padding: 15px;
font-weight: bold;
color: white;
background-color: #00b6d1;
border-radius: 5px;
border: none;
}



.con2{
    display: flex;
  
    align-items: center;
    gap: 15px;
    width: 55vw;
    position: relative;
    left: 15.1vw;
    margin-top: 65px;

    /* word-wrap:break-word; */
    /* flex-wrap: wrap;   */
    /* overflow-wrap: break-word; */
}

.con2 > img{
    width: 70px;
    height: 70px;
}
 

.con2> #s1{
    font-size: 1.85rem;
        
    }
 

    .con3{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 65vw;
        gap: 15px;
        position: relative;
        left: 22.3vw;
        margin-top: 55px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 137px;
        width: 268px;
        background-color: rgb(241, 241, 241);
        gap: 24px;
    }

    .boxes :first-child{
        font-size: 1.3em;
        font-weight: bold;
    }


    .con3 button{
        padding: 8px 0px;
        width: 52%;
        height: 23%;
        border-radius: 5px;
        border: none;
        background-color: #5cb85c;
        color: white;
        font-weight: bold;
        font-size: 13px;
    }

   .con3 button:hover{
    background-color: #83c083;
   }

 

   .con4 {
    background-color: #222222;
    height: 115vh;
    width: 100vw;
     
    overflow-x: hidden;  
    display: flex;
    flex-direction: column;
    
    align-items: center;

    color: white;
}
.con4>#con4_upper{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 109px;

}

.con4>#con4_upper >#content{
    color: white;
    display: flex;
    flex-direction: column;
width: 25%;
text-align: center;
    align-items: center;
    gap: 10px 0px;
}


.con4 > #con4_upper  b{
    font-size: 1.4em;
    font-family: system-ui;
}

.con4> #con4_upper> #content p{
    font-size: 1rem;
    font-family: system-ui;
 }

 



#con4_form {
    height: 66%;
    width: 21.4%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
#con4_form h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    color: #00b6d1;
}
#con4_form div{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    gap: 15px;

}

#con4_form div span {
    font-size: 0.9rem;
    font-family: system-ui;
    position: relative;
    top: 9px;
    color: black;
}

#con4_form div input{
    width: 100%;
  height: 3.5em;   
  border: 2px  solid gray;
 
}
#con4_form button{
    width: 100%;
    height: 3.5em;
    border: none;
    background-color: #00b6d1;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.con4_lower{
     
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.con4_lower .content{
    
    width: 60%;;
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

.con4_lower .content h3{
    font-weight: 400;
    font-size:x-large;
}

.con4_lower .content   a{
 color: #00b6d1;  
  text-decoration: none;
}


.con5{
    height: 70vh;
    width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

.c5content{
    height: 100%;
    width: 65%;
    /* gap: 12px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.c5box{
    height: 80%;
    width: 23%;
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.c5box h4{
   font-weight: bold;
   font-size: 1em;
   font-family: system-ui;

}

.c5box ul li a {
    text-decoration: none;
    color: rgb(96, 95, 95);
}

.c5box > p {
   text-align:start;
   color: rgb(96, 95, 95);
}

.c5box  input{
    width: 100%;
    height: 11%;   
    border: 2px  solid gray;
    
 border-radius: 5px;
}

.c5box input::placeholder{
    text-align: center;
}

.c5box  button{
    width: 100%;
    height: 11%;
    border: none;
    background-color: #00b6d1;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.c5box  button:hover{
background-color: #018fa5;
}

.c5box > .c5input{
     
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}


footer{
width: 100vw;
height: 23vh;
display: flex;
flex-direction: column;
align-items: center;
}

footer .box{
    display: flex;
justify-content: space-between;
width: 65%;
} 
footer p{
    width: 65%;
}

footer .box img {
    width: 17%;
    height: 98%;
}
footer .box .svgIcon{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
}


footer .box .svgIcon svg {
  fill:  black;
  width: 46%;
  height: 48%;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #00b6d1;
    color: #fff;
    border: none;
    font-size: 30px;
    padding: 14px 14px;
    cursor: pointer;
    animation: scrollTopShow 0.7s  ease-in  forwards ;
}
@keyframes scrollTopShow {
    0%{
right: 0px;
opacity: 0;
    }
    100%{
        right: 20px;
        opacity: 1;
    }
}
@keyframes scrollTopHide{
    0%{
right: 20px;
opacity: 1;
    }
    100%{
        right: 0px;
        opacity: 0;
    }
}

#scrollToTopBtn:hover {
    background-color: #018fa5;
}
